<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Order Food Online from Faasos | Zero Contact Delivery</title>
	<link rel="shortcut icon"
		href="https://assets.faasos.io/order.faasos.io/production/app/public/images/faviconFaasos.png" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="/stylesheets/about.css" />
</head>

<body>



	<div id="fixheader">
		<nav>
			<div id="navContainer">
				<div id="navLeft">
					<a href="/collections">
						<img src="https://assets.faasos.io/faasos_v2/faasosLogoBrand.svg" alt="faasos logo" />
					</a>
					<div id="navLocation">
						<p>Ghaziabad</p>
						<p>Ghaziabad Uttar Pradesh</p>
					</div>
				</div>
				<div id="navRight">
					<p id="userName">Hi Chiranjeev Thapliyal</p>
					<p class="hamburger" onclick="openSidebar()">
						<i class="fas fa-bars"></i>
					</p>
				</div>
			</div>
		</nav>

		<p class="auto">Unwrapping Surprises since 2004!</p>

		<p id="auto2">Food can fill your stomach as well as your heart. It can excite you, fuel your imagination and
			tickle
			memories. At Faasos,<br> we felt if food is so much more than just eating, then why not...</p>


	</div>
	</div>

	<%- include ("partials/sidebar.partials.ejs") %>


		<!-- _______________________________________middle body___________________________________ -->
		<div id="cover">
			<br><br><br><br>



			<div id="mbody">
				<div class="flex">
					<div class="one1">
						<br>
						<br>
						<h1 class="firstline">Why not make it interesting?</h1>
						<br>
						<p id="p">Why not make it smart? Why not make it easy? Why not make it something that all of us look forward
							to....Anytime...All the time?</p>

						<p id="p">Faasos is an answer to all these ‘why nots’.</p>


					</div>
					<div class="two1">
						<img src="https://assets.faasos.io/faasos_v2/chicken-overload-wrap.jpg" width="100%" alt="about_faasos"
							id="imgs1">
					</div>


				</div>
				<br>
				<br>


				<div class="flex">
					<div class="two2">
						<img src="https://assets.faasos.io/faasos_v2/royal-chicken-rice-feast.jpg" width="100%" alt="about_faasos"
							id="imgs2">
					</div>

					<div class="one2">
						<br>
						<br>
						<h1 class="firstline">Break the monotony!</h1>
						<br>
						<p id="p">At Faasos, we challenge the norm to break the monotony of your daily eating habits. We box
							ourselves
							“under wraps” but go over and beyond to make your regular food exciting. With fusions of exotic flavors
							that
							melt boundaries &amp; fulfilling wraps that add more time on your wrist, we constantly unwrap new
							possibilities and chase ideas that are still under wraps.</p>

					</div>
					<br>



				</div>
				<br>
				<br>


				<div class="flex">
					<div class="one1">
						<br>
						<br>
						<h1 class="firstline"> Unwrapping new surprises, always</h1>
						<br>
						<p id="p">From classic wraps to signature wraps, from rice bowls to meal combos, we have ensured there’s
							food
							for every mood! All made with utmost hygiene using premium quality ingredients with medically certified
							kitchen staff.</p>

					</div>
					<div class="two1">
						<img src="https://assets.faasos.io/faasos_v2/chef-image.jpg" width="100%" alt="about_faasos" id="imgs1">
					</div>


				</div>
				<br>
				<br>
			</div>
		</div>

		<!-- ________________________________________page down part___________________________________ -->

		<div class="center1 clear">
			<h1>Eat Good, Eat Safe. Always! Now with the EatSure promise.</h1>
			<p>
				To keep your food safe and hypienic, here are some proactive steps
				that we have been taking.
			</p>
			<div id="center11">
				<div style="text-align: left">
					<div id="center12">
						<img src="../images/logo1.svg" />
						<p style="margin-top: 5px">
							<span>Real-time Temperature </span>Tracking of the kitchen and
							delivery staffs
						</p>

						<img src="../images/logo2.svg" />
						<p><span>Contacless Delivery</span></p>

						<img src="../images/logo3.svg" />
						<p>
							<span>Regular health </span>check-ups for all the staff members
						</p>
					</div>
				</div>
				<div style="width: 45%">
					<iframe style="border-radius: 5px" width="100%" height="220" src="https://www.youtube.com/embed/SBGKA87fmCM"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div id="center2">
			<div id="center21">
				<div>
					<img style="margin-top: 10px" src="https://assets.faasos.io/faasos_v2/esSafetyLogo.svg" />
				</div>
				<div>
					<span>✔</span>
					<p>Medical Certified Staff</p>
				</div>
				<div>
					<span>✔</span>
					<p>200+ Stringent Quality Checks</p>
				</div>
				<div>
					<span>✔</span>
					<p>No Artifical Colours or Flavours</p>
				</div>
				<div style="border-right: 0px solid rgb(255, 255, 255, 0.3)">
					<span>✔</span>
					<p>Double Sealed Packaging</p>
				</div>
				<button>KNOW MORE</button>
			</div>
			<p style="color: var(--yellow); font-size: 15px; font-weight: 600">
				Here are some additional measures which our kitchen teams are
				rigorously following!
			</p>
			<div id="center22">
				<div>
					<img src="https://assets.faasos.io/faasos_v2/mask1.svg" />
					<p>Using masks all the time.</p>
				</div>
				<div>
					<img src="https://assets.faasos.io/faasos_v2/staff2.svg" />
					<p>Maintaining a log of kitchen staff's body temperature.</p>
				</div>
				<div>
					<img src="https://assets.faasos.io/faasos_v2/safety3.svg" />
					<p>Using handwash frequently to clean hands.</p>
				</div>
				<div>
					<img src="https://assets.faasos.io/faasos_v2/kitchenSurface4.svg" />
					<p>Sainitising all the kitchen surfaces, every 4 hours.</p>
				</div>
				<div>
					<img src="https://assets.faasos.io/faasos_v2/staff2.svg" />
					<p>
						Delivering food in an enclosed sealed package to avoid
						contamination.
					</p>
				</div>
			</div>
		</div>

		<%- include ("partials/footer.partials.ejs") %>


</body>

<script src="https://kit.fontawesome.com/7fc87d8fcc.js" crossorigin="anonymous"></script>
<script src="/scripts/credentials.js"></script>
<script src="/scripts/sidebar.js"></script>
<script src="/scripts/navbar.js"></script>

</html>