<!DOCTYPE html>
<html lang="en">

<head>
  <title>Order Food Online from Faasos | Zero Contact Delivery</title>
  <link rel="shortcut icon"
    href="https://assets.faasos.io/order.faasos.io/production/app/public/images/faviconFaasos.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css">

  <link rel="stylesheet" href="/stylesheets/order.css" />
</head>

<body>

  <!------- Navbar Starts Here ----->

  <%- include ("partials/navbar.partials.ejs") %>

    <!------- Navbar Ends Here ------->

    <!------- Side Bar HTML Starts Here --------->

    <%- include ("partials/sidebar.partials.ejs") %>

      <!------- Side Bar HTML Ends Here ---------->

      <!------------------------------------- final order------------------------------------------------------>

      <div id="orderPlaced">
        <div id="order_img">
          <img src="https://5.imimg.com/data5/RU/EG/IK/SELLER-64708915/delivery-boy-job-500x500.png" alt="" />
          <span id="faasosLogo">
            <img src="/images/faasosLogoPurple.svg" alt="faasos logo" />
          </span>
        </div>
        <h2>
          <span class="outer"><i class="fas fa-certificate"><span class="inner"><i
                  class="fas fa-check"></i></span></i></span>
          Your Order Has Been Placed, we will deliver soon.
        </h2>
        <button id="checkOrders" onclick="goToProfile()">Track Your Order</button>
      </div>


      <!----------- Footer Starts Here ----------->

      <%- include ("partials/footer.partials.ejs") %>

        <!----------- Footer Ends Here ----------->

</body>

</html>
<script src="https://kit.fontawesome.com/7fc87d8fcc.js" crossorigin="anonymous"></script>
<script src="/scripts/credentials.js"></script>
<script src="/scripts/sidebar.js"></script>
<script src="/scripts/order.js"></script>
<script src="/scripts/navbar.js"></script>