<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Order Food Online from Faasos | Zero Contact Delivery</title>
  <link rel="shortcut icon"
    href="https://assets.faasos.io/order.faasos.io/production/app/public/images/faviconFaasos.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/main.css">

  <link rel="stylesheet" href="/stylesheets/product.css" />
</head>

<body>

  <!------- Navbar Starts Here ----->

  <%- include ("partials/navbar.partials.ejs") %>

    <!------- Navbar Ends Here ------->

    <!------- Side Bar HTML Starts Here --------->

    <%- include ("partials/sidebar.partials.ejs") %>

      <!------- Side Bar HTML Ends Here ---------->

      <div id="productDetailContact">
        <!-- <div id="productDetailContainer">
        <div id="productDetailBreadcrumb">
          <a href="/landingPage">Home</a>
          <a href="/collections">Collections</a>
          <a href="#">2 Signature Veg Wraps At 289</a>
        </div>
        <div id="productDetails">
          <div id="productDetailImage">
            <img
              src="https://product-assets.faasos.io/production/product/image_1622813195694_image_es_1618555841315_2%20Signature%20Veg%20Wraps%20%40279.jpg"
              alt="2 Signature Veg Wraps at 289 Online"
              class="LazyLoadImg__Image-sc-1aaptpp-0 bmlJPi loaded"
            />
          </div>
          <div id="productDetailContent">
            <div id="productDetailContent1">
              <div>
                <h2>2 Signature Veg Wraps at 289</h2>
                <span><img src="/images/vegLogo.svg" alt="" /> ₹ 289</span>
              </div>
              <div>
                <div id="ratingAndBought">
                  <span><i class="fas fa-star"></i> 5</span>
                  <p>181 bought this</p>
                </div>
                <div id="addToCart">
                  <button id="addButton">ADD</button>
                  <span>Customizable</span>
                </div>
              </div>
            </div>
            <div class="hr"></div>
            <div id="productDescription">
              <p>
                Amazing wraps and savings! What else can you ask for? Choose any
                two from our unique Signature Veg Wraps with delicious fillings
                & sauces all wrapped in a flaky paratha.
              </p>
            </div>
            <div id="productTags">
              <h3>Tags</h3>
              <ul id="productTagList">
                <li>Veg</li>
                <li>snack</li>
                <li>ct_amz_Meals</li>
                <li>ct_amz_Combo</li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      </div>

      <!----------- Footer Starts Here ----------->

      <%- include ("partials/footer.partials.ejs") %>

        <!----------- Footer Ends Here ----------->
</body>

<script src="https://kit.fontawesome.com/7fc87d8fcc.js" crossorigin="anonymous"></script>
<script src="/scripts/credentials.js"></script>
<script src="/scripts/sidebar.js"></script>
<script src="/scripts/navbar.js"></script>
<script src="/scripts/foodItems.js"></script>
<script src="/scripts/checkFilters.js"></script>
<script src="/scripts/cart.js"></script>
<script src="/scripts/searchFood.js"></script>
<script src="/scripts/product.js"></script>

</html>