<nav>
	<div id="navContainer">
		<div id="navLeft">
			<a href="/collections">
				<img src="/images/faasosLogoPurple.svg" alt="faasos logo" />
			</a>
			<div id="navLocation">
				<p>Ghaziabad</p>
				<p>Ghaziabad Uttar Pradesh</p>
			</div>
		</div>
		<div id="navRight">
			<p id="userName">Hi Chiranjeev Thapliyal</p>
			<p class="hamburger" onclick="openSidebar()">
				<i class="fas fa-bars"></i>
			</p>
		</div>
	</div>
</nav>